body{
    background-color: #55539F;
}

/* html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: transparent linear-gradient(180deg, #6066B9 0%, #30335D 100%) 0% 0% no-repeat padding-box;
} */

.vertical-center {
    min-height: 100%;
    min-height: 100vh; 
    display: flex;
    align-items: center;
} 

.form-container{
    display: flex;
    justify-content: center;
}

.form{
    width: 70%;
    height: auto;
    padding: 5%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 20px #52575D1A;
    border: 2px solid #FFFFFF33;
    border-radius: 10px;
}

.label-style{
    color: #FFFFFF;
    font: normal normal normal 16px/21px Segoe UI;
}

.input-style{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 10px 16px #FFFFFF29;
    border: 2px solid #FFFFFF80;
}

.input-style:hover{
    cursor: pointer;
}

.form p{
    text-align: left;
    font: normal normal 600 16px/20px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-style{
    background: transparent linear-gradient(180deg, #383B6C 0%, #1C1E36 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo-container{
    margin: auto;
}

.logo{
    margin-bottom: 2rem;
}

.logo h6{
    color: #FFFFFF;
}

.name h1{
    text-align: left;
    font: normal normal bold 40px/50px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}



  