body {
    background-color: #F0F1F5;
}

.btn-back {
    color: #6045E2;
    font: normal normal normal 14px/24px Segoe UI;
}

.btn-back:hover {
    color: #6045E2;
    font: normal normal normal 14px/24px Segoe UI;
}

.back-icon {
    opacity: 0.5;
}

.btn-back:hover .back-icon {
    opacity: 1;
    transition: 0.3s;
}

.form-container {
    /* width: 37%;
    height: 69%; */
    box-shadow: 0px 0px 20px #E0C5F8;
    border-radius: 4px;
}

.form-header {
    color: #494294;
    font: normal normal 600 16px/20px Segoe UI;
}

.label-style::after {
    content: "*";
    color: #ED4C4C;
    font: normal normal 600 16px/21px Segoe UI;
}

.label-style {
    color: #52525D;
    font: normal normal normal 16px/21px Segoe UI;
}

.input-style:hover {
    cursor: pointer;
}

.input-style:focus {
    border: 1px solid #CED4DA;
}

.btn-cancel {
    background-color: rgb(228, 228, 232, 0.45);
    border: 1px solid rgb(228, 228, 232, 0.45);
    color: rgb(82, 82, 93, 0.6);
    font: normal normal 600 16px/24px Segoe UI;
    ;
}

.btn-cancel:hover {
    background-color: rgb(228, 228, 232, 1);
    border: 1px solid rgb(228, 228, 232, 1);
    color: rgb(82, 82, 93, 1);
    transition: 0.3s;
}

.btn-submit {
    background: transparent linear-gradient(90deg, #6568F3 0%, var(--unnamed-color-6045e2) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #6568F3 0%, #6045E2 100%) 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font: normal normal normal 16px/24px Segoe UI;
}

.btn-submit:hover {
    color: #FFFFFF
}

/* Modal */

/* .modal-container {
    width: 409px!important;
    height: 248px!important;
} */

.modal-header-style {
    color: #52525D;
    font: normal normal 600 20px/20px Segoe UI;
}

.modal-info {
    color: #52525D;
    font: normal normal normal 14px/20px Segoe UI;
}